.cta {
  padding: 15px 20px 15px 20px;
  border-radius: 3px;
  border: 1.25px solid white;
  max-height: 58px;

  text-decoration: none;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 20px; // 22px
  font-weight: 300;
  letter-spacing: .5px;

  &:hover {
    opacity: .75;
  }

  &.primary {
    padding: 13px 20px 13px 20px !important;
    background-color: #2FB94E;
    border: none !important;

    &:hover {
      background-color: #319546;
      opacity: 1;
    }
  }
}

.cta object {
  display: inline-block;
  vertical-align: middle;
  padding-right: 15px;
  height: 30px; // 30px
}

.cta span {
  display: inline-block;
  vertical-align: middle;
}

.cta em {
  font-style: normal;
  font-weight: 400;
}
