// @font-face {
//   font-family: AvenirNext;
//   src: url("../../../assets/fonts/avenir/Avenir-Next.ttc");
// }
//
// @font-face {
//   font-family: AvenirNext-DemiBold;
//   src: url("../../../assets/fonts/avenir/AvenirNext-DemiBold.ttc");
// }
//
// @font-face {
//   font-family: AvenirNext-Medium;
//   src: url("../../../assets/fonts/avenir/AvenirNext-Medium.ttc");
// }
//
// @font-face {
//   font-family: AvenirNext-Regular;
//   src: url("../../../assets/fonts/avenir/AvenirNext-Regular.ttc");
// }
//
// @font-face {
//   font-family: AvenirNext-UltraLight;
//   src: url("../../../assets/fonts/avenir/AvenirNext-UltraLight.ttc");
// }

$font-heading: "Roboto", sans-serif;;
$heading-size: 72px;
$heading-weight: 100;

$font-subheading: "Roboto", sans-serif;
$subheading-size: 26px;
$subheading-weight: 100;

// $app-font-heading: "AvenirNext-DemiBold", sans-serif;
// $app-font-heading-size: 26px;
//
// $app-subheading: "AvenirNext-Medium", sans-serif;
// $app-subheading-size: 30px;
